
* {
  margin: 50px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background: #fff;
}
.hero {
  display: flex;
  align-items: center;
  padding: 0x;
  background: #f0f0f0;
  width: 0px;
}
.hero-text {
  max-width: 100%;
}
.hero-text h1 {
  font-size: 36px;
  margin-bottom: 100px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-text .buttons img {
  height: 100px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.hero-text .buttons img:hover {
  transform: scale(1.05);
}

.hero-img img {
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0 0px 16px rgba(0,0,0,0.2);
}

